<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>
<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
          <th>¿Qué hace?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{nombre}}</td>
          <td>uppercase</td>
          <td>{{nombre | uppercase}}</td>
          <td>Convierte un string a mayúsculas</td>
        </tr>
        <tr>
          <td>{{nombre2}}</td>
          <td>capitalizado</td>
          <td>{{nombre | capitalizado}}</td>
          <td>Convierte un string a capital letter</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>lowercase</td>
          <td>{{nombre | lowercase}}</td>
          <td>Convierte un string a minúsculas</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>slice:3</td>
          <td>{{nombre | slice:3}}</td>
          <td>Elimina las primeras 3 letras</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>slice:0:3</td>
          <td>{{nombre | slice:0:3}}</td>
          <td>Mustra las 3 primeras letras - desde la posición 0 y de ahí cuenta 3</td>
        </tr>
        <tr>
          <td>{{arreglo}}</td>
          <td>slice:1:5</td>
          <td>{{arreglo | slice:1:5}}</td>
          <td>Muestra los valores de un arreglo empezando de la posición 1 hasta la posición 5</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>number: '1.0-0'</td>
          <td>{{ PI | number: '1.0-0'}}</td>
          <td>Mostrar una variable en formato número y se especifican la cantidad de enteros y decimales</td>
        </tr>
        <tr>
          <td>{{PI}}</td>
          <td>number: '1.0-2'</td>
          <td>{{ PI | number: '1.0-4'}}</td>
          <td>Mostrar valor de PI con 4 decimales</td>
        </tr>
        <tr>
          <td>{{porcentaje}}</td>
          <td>percent</td>
          <td>{{ porcentaje | percent}}</td>
          <td>Convierte la cantidad a porcentaje</td>
        </tr>
        <tr>
          <td>{{porcentaje}}</td>
          <td>percent</td>
          <td>{{ porcentaje | percent:'2.2-2'}}</td>
          <td>Convierte la cantidad a porcentaje con 2 decimales</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td>currency</td>
          <td>{{ salario | currency}}</td>
          <td>Convierte la cantidad a formato de moneda</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td>currency: 'EUR'</td>
          <td>{{ salario | currency: 'EUR'}}</td>
          <td>Formato moneda a euros</td>
        </tr>
        <tr>
          <td>{{salario}}</td>
          <td>currency: 'CAD':'symbol-narrow'</td>
          <td>{{ salario | currency: 'CAD':'symbol-narrow'}}</td>
          <td>Formato moneda canadiense</td>
        </tr>
        <tr>
          <td>{{promesa}}</td>
          <td>async</td>
          <td>{{ promesa | async}}</td>
          <td> Pipe para manejar en observables y promesas</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date</td>
          <td>{{ fecha | date}}</td>
          <td> Formato de fecha default</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'medium'</td>
          <td>{{ fecha | date:'medium'}}</td>
          <td> Formato de fecha mediana</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'short'</td>
          <td>{{ fecha | date:'short'}}</td>
          <td> Formato de fecha corta</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'MMMM-dd'</td>
          <td>{{ fecha | date:'MMMM - dd'}}</td>
          <td> Formato de fecha en formato personalizado</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>date:'MMMM-dd'</td>
          <td>{{ fecha | date:'MMMM - dd':'':'en'}}</td>
          <td> Formato de fecha en formato personalizado en inglés</td>
        </tr>
        <tr>
          <td>{{fecha}}</td>
          <td>
            date:'MMMM-dd':'':{{idioma}} <br>
            <button (click)="cambiarIdioma('es')" type="button" class="mr-1 btn btn-outline-primary">Español</button>
            <button (click)="cambiarIdioma('en')" type="button" class="mr-1 btn btn-outline-secondary">Inglés</button>
            <button (click)="cambiarIdioma('fr')" type="button" class="mr-1 btn btn-outline-success">Francés</button>
          </td>
          <td>{{ fecha | date:'MMMM - dd':'':idioma}}</td>
          <td> Cambia el idioma de la fecha segun el boton seleccionado</td>
        </tr>
        <tr>
          <td>{{nombre}}</td>
          <td>
            password {{activar}}<br>
            <button (click)="activar = !activar" type="button" class="mr-1 btn btn-outline-primary">
              {{activar ? 'Mostrar contraseña': 'Ocultar nombre'}}
            </button>
          </td>
          <td>{{nombre | password:activar}}</td>
          <td>Pipe para convertir string a formato contraseña</td>
        </tr>
      </tbody>
    </table>


    <h3>Slice</h3>
    <ul>
      <li *ngFor="let item of arreglo | slice:5:20">{{ item }}</li>
    </ul>

    <h3>JSON</h3>
    <pre>
      {{heroe | json }}
    </pre>

    <h3 class="mt-4">Domseguro</h3>
    <hr>
    <div class="row ml-5">
      <div class="col">
        <iframe width="560" 
          height="315" 
          [src]="videoUrl | domseguro" 
          frameborder="0" 
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>